<script type="text/x-handlebars-template">
    <div class="nimbus-card-12333312321321321312321321321">
        <img src="https://image.ibb.co/euYChU/Nimbus.png" style="display: block; margin: auto; width: 80px;">
        <p style="text-align: center; font-size: 20px; margin-top: 0;">Cảm ơn bạn đã đăng ký học !</p>
        <ul>
            <li style="margin-top: 5px; clear: both;">
                <span>Lớp học:</span>
                <span style="float: right; font-size: 16px;"><b>{{className}}</b></span>
            </li>
            <li style="margin-top: 5px; clear: both;">
                <span>Khai giảng:</span>
                <span style="float: right; font-size: 16px;"><b>Ngày 23/10</b></span>
            </li>
            <li style="margin-top: 5px; clear: both;">
                <span>Lịch học:</span>
                <span style="float: right; font-size: 16px;"><b>18h00-21h00 thứ 3-6</b></span>
            </li>
            <li style="margin-top: 5px; clear: both;">
                <span>Địa điểm:</span>
                <span style="float: right; font-size: 16px;"><b>Số 15 ngõ 20 Trương Định, Hai Bà Trưng.</b></span>
            </li>
            <li style="margin-top: 5px; clear: both;">
                <span>Dụng cụ:</span>
                <span style="float: right; font-size: 16px;"><b>Laptop cá nhân, vở ghi và bút.</b></span>
            </li>
            <li style="margin-top: 5px; clear: both;">
                <span>Group Facebook:</span>
                <span style="float: right; font-size: 16px;"><a target="_blank" href={{cl.fb_group_url}}>Chi tiết</a></span>
            </li>
        </ul>
    </div>
    <div class="nimbus-card">
        <p style=" text-align: center; font-size: 20px; margin-top: 0;">Nội quy lớp học</p>
        <ul>
            <li style="margin-top: 5px; clear: both;">
                <b>Cam kết đi học đầy đủ.</b>
                <br>
                Khóa học diễn ra liên tục trong 4 tuần. Nimbus cần các bạn thực hiện nghiêm túc việc đi học cũng như làm bài tập để đạt được kết quả thi tốt nhất.
            </li>
            <li style="margin-top: 5px; clear: both;">
                <b>Nộp học phí trong buổi học đầu tiên.</b>
                <br>
                Với việc thực hiện đầy đủ các ưu đãi đã được thông báo trên fan page, học phí các bạn phải đóng chỉ là 700k/khóa . Học phí này sẽ được đóng vào buổi học đầu tiên theo quy định của Nimbus . Ngoài lệ phí trên bên mình không thu thêm bất kỳ khoản phí nào trong quá trình học. Đây là học phí cần thiết để Nimbus có thể duy trì các khóa IC3 GS4 cũng như đảm bảo chất lượng học thi, phát triển các dự án trong tương lai dành cho các bạn tham gia Cộng đồng Nimbus.
            </li>
            <li style="margin-top: 5px; clear: both;">
                <b>Đăng ký thi.</b>
                <br>
                Như đã đề cập, các lớp MOS cộng đồng tại Nimbus hỗ trợ cho các bạn có nhu cầu THI CHỨNG CHỈ  MOS. Một điều may mắn là Nimbus được IIG Việt Nam đồng hành trong việc hỗ trợ đăng ký thi để các bạn không lo lắng việc phải đến tận IIG làm thủ tục. Vì vậy,các bạn có thể đăng ký thi qua Nimbus, IIG sẽ hỗ trợ bạn đúng ca rảnh trong ngày mà các bạn muốn. 
            </li>
        </ul>

        <p>Bạn vui lòng đọc kỹ các nội dung trong email và xác nhận tham gia học bằng cách bấm nút ở phía dưới.</p>

        <p>Mọi thắc mắc về khóa học, bạn có thể liên hệ với số hotline: 0969.849.603 hoặc Facebook group “NIMBUS – Tin học MOS/IC3”.</p>

        <p>Hẹn gặp lại bạn tại lớp học!</p>
    </div>
    <style>
        .nimbus-card {
            width: 50%;
            margin: 10px auto;
            border: 1px solid rgba(0,0,0, .2);
            padding: 40px;
            font-size: 14px;
        }
        @media only screen and (max-width: 600px) {
            .nimbus-card {
                width: 80%;
                padding: 20px;
            }
        }
    </style>
</script>