#app {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  
.regular-input-wrapper {
position: relative;

.regular-label {
    display: block;
    margin-bottom: 0.4rem;
    font-weight: 400;
    line-height: 2rem;
    text-transform: initial;
    letter-spacing: initial;
    cursor: pointer;
}

.regular-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: hidden;
}

input.regular-input {
    height: 36px;
}

select.regular-input {
    height: 36px;
}

textarea.regular-input {
    height: 140px;
}

.regular-input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #2e7d32;
    outline: 0;
    box-shadow: 0 0 0 1px #2e7d32;
}
}

.regular-input-wrapper.hidden-input {
input {
    display: none;
}
.flatpickr-calendar {
    box-shadow: none;
    -webkit-box-shadow: none;
}
}

.md-checkbox .md-checkbox-label {
height: auto;
}

.md-button:not(.md-primary):not(.md-accent) div {
    color: rgba(0,0,0, .5);
}

.md-raised.md-button.md-primary div {
    color: #fff !important;
}

.md-raised.md-button.md-accent div {
    color: #fff !important;
}

.no-uppercase {
    text-transform: none;
}
.uppercase {
    text-transform: uppercase;
}

.fc-state-highlight {
    opacity: 0 !important;
    border: none !important;
}

/* Styling for each event from Schedule */
.fc-time-grid-event.fc-v-event.fc-event {
    border-radius: 4px !important;
    border: none !important;
    padding: 5px !important;
    opacity: .65 !important;
    left: 5% !important;
    right: 5% !important;
}

/* Bolds the name of the event and inherits the font size */
.fc-event {
    font-size: inherit !important;
    font-weight: bold !important;
}

/* Remove the header border from Schedule */
.fc td, .fc th {
    border-style: none !important;
    border-width: 1px !important;
    padding: 0 !important;
    vertical-align: top !important;
}

/* Inherits background for each event from Schedule. */
.fc-event .fc-bg {
    z-index: 1 !important;
    background: inherit !important;
    opacity: .25 !important;
}

/* Normal font weight for the time in each event */
.fc-time-grid-event .fc-time {
    font-weight: normal !important;
}

/* Apply same opacity to all day events */
.fc-ltr .fc-h-event.fc-not-end, .fc-rtl .fc-h-event.fc-not-start {
    opacity: .65 !important;
    margin-left: 12px !important;
    padding: 5px !important;
}

/* Apply same opacity to all day events */
.fc-day-grid-event.fc-h-event.fc-event.fc-not-start.fc-end {
    opacity: .65 !important;
    margin-left: 12px !important;
    padding: 5px !important;
}

/* Material design button */
.fc-button {
    display: inline-block !important;
    position: relative !important;
    cursor: pointer !important;
    min-height: 36px !important;
    min-width: 88px !important;
    line-height: 36px !important;
    vertical-align: middle !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    text-align: center !important;
    border-radius: 2px !important;
    box-sizing: border-box !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    outline: none !important;
    border: 0 !important;
    padding: 0 6px !important;
    margin: 6px 8px !important;
    letter-spacing: .01em !important;
    background: transparent !important;
    color: currentColor !important;
    white-space: nowrap !important;
    text-transform: uppercase !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    font-family: inherit !important;
    text-decoration: none !important;
    overflow: hidden !important;
    -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1) !important;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1) !important;
}

.fc-button:hover {
    background-color: rgba(158,158,158,0.2) !important;
}

.fc-button:focus, .fc-button:hover {
    text-decoration: none !important;
}

/* The active button box is ugly so the active button will have the same appearance of the hover */
.fc-state-active {
    background-color: rgba(158,158,158,0.2) !important;
}

/* Not raised button */
.fc-state-default {
    box-shadow: None !important;
}

.fc-event .fc-content {
    color: #fff;
}